@model List<Store>

@{
    string search = (string)ViewData["Search"]!;
    string column = (string)ViewData["Column"]!;
    string orderBy = (string)ViewData["OrderBy"]!;
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@TempData["Error"]</strong> Please try again.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["Success"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<h2 class="text-center mb-5">List of Stores</h2>
<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Stores" asp-action="Create">New Store</a>
    </div>
    <div class="col">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" name="search" value="@search" placeholder="Search Store" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var store in Model)
        {
            <tr>
                <td>@store.Id</td>
                <td>@store.Name</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-controller="Stores" asp-action="Details" asp-route-id="@store.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>

</table>

<nav>
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.PageTotal; i++)
        {
            string active = "";
            if (i == ViewBag.PageIndex) active = "active";
            <li class="page-item @active">
                <a class="page-link" asp-route-pageIndex="@i">@i</a>
            </li>
        }
    </ul>
</nav>