@model Order
@{
    var shippingstatus = Model.ShippingStatus;

    string statusBadge = "bg-warning text-dark";
    if (shippingstatus.Contains("pending"))
    {
        statusBadge = "bg-secondary";
    }
    else if (shippingstatus.Contains("intransit"))
    {
        statusBadge = "bg-info text-dark";
    }
    else if (shippingstatus.Contains("delivered"))
    {
        statusBadge = "bg-success text-dark";
    }

    var deliveryMethod = Model.IsPickUp ? "Pick-up" : "Delivery";
}

<h3 class="text-center mb-4">Order Details</h3>

<a class="btn btn-link" asp-controller="AdminOrders" asp-action="Index">Orders</a>

<div class="row mb-4">
    <div class="col-lg-6">
        <div class="border rounded py-3 px-4 h-100">
            <h3 class="mb-4">Order</h3>

            <div class="row mb-2 pb-2 border-bottom">
                <div class="col">Order ID</div>
                <div class="col">@Model.Id</div>
            </div>

            <div class="row mb-2 pb-2 border-bottom">
                <div class="col">Delivery Method</div>
                <div class="col">@deliveryMethod</div>
            </div>

            <div class="row mb-2 pb-2 border-bottom">
                <div class="col">Delivery Status</div>
                <div class="col"><span class="badge @statusBadge">@Model.ShippingStatus</span>
                    <a href="#" class="mx-2" data-bs-toggle="modal" data-bs-target="#editShippingStatusModal">Edit</a>
                </div>
            </div>

            <div class="row mb-2 pb-2 border-bottom">
                <div class="col">Order Date</div>
                <div class="col">@Model.CreatedAt</div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="border rounded py-3 px-4 h-100">
        <h3 class="mb-4">Client</h3>

            <div class="row mb-2 pb-2 border-bottom">
                <div class="col">Name</div>
                <div class="col">
                    <a asp-controller="Users"
                    asp-action="Details" asp-route-id="@Model.Client.Id">
                        @Model.Client.FirstName @Model.Client.LastName
                    </a>
                </div>
            </div>


            <div class="row mb-2 pb-2 border-bottom">
                <div class="col">Number of Orders</div>
                <div class="col">@ViewBag.NumOrders</div>
            </div>

            <div class="row mb-2 pb-2 border-bottom">
                <div class="col">Email</div>
                <div class="col">@Model.Client.Email</div>
            </div>

            <div class="row mb-2 pb-2 border-bottom">
                <div class="col">Phone</div>
                <div class="col">@Model.Client.PhoneNumber</div>
            </div>

            <div class="row mb-2 pb-2 border-bottom">
                <div class="col">Address</div>
                <div class="col">@Model.Client.Address</div>
            </div>

            <div class="row mb-2 pb-2 border-bottom">
                <div class="col">Registered Date</div>
                <div class="col">@Model.Client.CreatedAt</div>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th style="width:150px">Description</th>
            <th></th>
            <th style="width:100px">Units</th>
            <th style="width:100px">Amount</th>
            <th style="width:100px">Review</th>
        </tr>
    </thead>
    <tbody>
        @{
            decimal subtotal = 0;
            foreach (OrderItem item in Model.Items)
            {
                subtotal += item.UnitPrice * item.Quantity;
                <tr>
                    <td>
                        <img src="/products/@item.Product.ImageFileName" width="100" alt="..." />
                    </td>
                    <td>
                        <h4>@item.Product.Name</h4>
                        @item.Product.Category<br />
                        $@(item.UnitPrice)
                    </td>
                    <td>@item.Quantity</td>
                    <td>$@(item.UnitPrice * item.Quantity)</td>
                    <td>
                        @if (item.Rating == null)
                        {
                            <i class="bi bi-star text-warning">Not rated</i>
                        }
                        else
                        {
                            <i class="bi bi-star-fill text-warning">@item.Rating</i>
                        }
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

<div class="ms-auto mb-3" style="width: 250px">
    <div class="row">
        <div class="col fw-bold">Subtotal</div>
        <div class="col text-end">$@subtotal</div>
    </div>
    <div class="row">
        <div class="col fw-bold">Shipping</div>
        <div class="col text-end">$0</div>
    </div>
    <div class="row">
        <div class="col fw-bold">Total</div>
        <div class="col text-end">$@subtotal</div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="editShippingStatusModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Shipping Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="get" asp-controller="AdminOrders" asp-action="Edit">
                    <input type="hidden" name="id" value="@Model.Id"/>
                    <label>Shipping Status</label>
                    <select class="form-select mb-2" name="shippingStatus" asp-for="ShippingStatus">
                        <option value="pending">pending</option>
                        <option value="intransit">intransit</option>
                        <option value="delivered">delivered</option>
                    </select>
                    <button type="submit" class="btn btn-primary mt-3">Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

